@tailwind base;

@tailwind components;

@tailwind utilities;

.inset-container:after,
.inset-container:before {
}

.inset-container:after {
  content: '';
  position: absolute;
  right: 0;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.1));
  height: 100%;
  width: 30px;
  top: 0;
}

.inset-container:before {
  content: '';
  position: absolute;
  left: 0;
  background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0));
  height: 100%;
  width: 30px;
  top: 0;
}
